In [2]:
import pandas as pd

1. For the below DataFrame create a columns "Age Category" which classifies the ages as Minor,Adult,or Senior.

In [135]:
df = pd.DataFrame({"age":[13,18,19,14,32,56,45,78,80]})
print(df)
x = []
age_cate= pd.DataFrame (columns=[])
df[df<18] = df["Minor"] 
print(age_cate)#= "Minor"
#print(df [df>18])
#print(df [df<70])

   age
0   13
1   18
2   19
3   14
4   32
5   56
6   45
7   78
8   80

KeyError: 'Minor'

In [74]:
df[cloumns = "age_category"]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1294401582.py, line 1)

In [56]:
df[df>18]= "Adult"

TypeError: '>' not supported between instances of 'list' and 'int'

In [57]:
df = [ "Age_Category"]
df

['Age_Category']

<br>-Write a Numpy program to change two array axes.
-sample array:[[1,2,3]]
<br> expected output:
        <br>[[1]
       <br> [2]
         <br>[3]]

In [129]:
import numpy as np
x = np.array([[1,2,3]])
y = x.reshape(3,1)
y

array([[1],
       [2],
       [3]])

<br>- Write a Numpy program to sum all the multiples of 3 or 5 below 100.

In [132]:
x = np.arange(100+1)
x

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [133]:
y = x[x%3==0]
print(y)
print(sum(y))

[ 0  3  6  9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69
 72 75 78 81 84 87 90 93 96 99]
1683

In [134]:
z = x[x%5 ==0]
print(z)
print(sum(z))

[  0   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85
  90  95 100]
1050