**Function are a block of code defined with a name**
# DRY -- Do not Repeat yourself
- Function provide reuseability of code.

# Types of Functions
 - 1. Bulit-in Function or predefined Function'
 - 2. User-defined function

# Creating Function

In [2]:
def first_function():    # def is for defined
    
    
    print("data sciences is amazing")

first_function() # function is called

data sciences is amazing

# Creating Function with parameters

In [10]:
def first_function(x):
    print("data science is amazing")
    print(x)
first_function(12)

first_function("hello")

data science is amazing
12
data science is amazing
hello

In [30]:
def first_function(x,y):
    print(x+y)
    print(x-y)
    print(x/y)
    
print(type(first_function(12,2)))
print(first_function(12,2))

14
10
6.0
<class 'NoneType'>
14
10
6.0
None

In [27]:
print(None)

None

In [29]:
type('rishi')
'rishi'

'rishi'

In [4]:
first_function(22,2)

24
20
11.0

In [2]:
def first_function(x):
    print("data science is amazing")
    print(x)
first_function(12)

data science is amazing
12

In [6]:
def second_function(x,y):
    print(x+y)
    print("data science is amazing")
second_function(12,23)

35
data science is amazing

In [7]:
def third_function(x,y,z):
    print(x+y-z)
third_function(12,23,35)

0

# Retruning Value from a Function

In [32]:
def calculater(x,y):
    a = x+y
    return a
calculater(45,45)

90

In [34]:
def calculater(x,y):
    a = x+y
    return a
    
b = calculater(45,45) +10
print(b)

100

In [35]:
b

100

In [10]:
def my_func(x,y):
    print("we are diff number")
    a = x-y
    return a
    print("hello world")
my_func(23,12)

we are diff number

11

In [1]:
def func(a):
    print("xyz")
    print(a)
    
    
x = func(45)
print(x)

xyz
45
None

In [26]:
def func(a):
    print("xyz")
    print(a)
    return a
    
x = func(45)
print(x)

xyz
45
45

In [2]:
def func(a):
    print("xyz")
    print(a)
    print(a-23)
    return a
x= func(45)
print("the valve of x is : ",x)

xyz
45
22
the valve of x is :  45

In [39]:
def func2(a):
    print('hello')
    print('world')
    return a
    print('data')
func2(5)
'hello'

hello
world

'hello'

In [38]:
6
89

89

In [32]:
print(id(print(id("hello"))))

2444234690992
140729980317376

In [33]:
print(print("hello"))

hello
None

In [34]:
None

In [35]:
print(None)

None

In [16]:
print()

In [6]:
print(print(print(print())))

None
None
None

In [2]:
def add(a,b):
    sum = a+b
    print(sum)
    return sum
print(add(45,45))

90
90

In [5]:
def add(a,b):    # im wirte not return function return function take a value of None 
    sum = a-b
    print(sum)
print(add(12,1-3))

14
None

In [6]:
None # he is not a print of None

In [8]:
print(None) # he is a print of None

None

# Return multipte values of a function

In [40]:
a,b = ("hello",67)
print(a,b)

hello 67

In [3]:
def calculator(a,b):
    sum = a+b
    diff= a-b
    product= a*b
    div = a/b
    return sum,diff,product,div  #return the value in the from of a tuple
a,b,c,d= calculator(10,2)
print(a,b,c,d)

12 8 20 5.0

In [4]:
def calculator(a,b):
    sum = a+b
    diff= a-b
    product= a*b
    div = a/b
    return sum,diff,product,div  #return the value in the from of a tuple
x= calculator(10,2) 
print(x)

(12, 8, 20, 5.0)

In [5]:
def calculator (a,b):
    sum = a+b
    diff = a-b
    product =a*b
    div = a/b
    return sum,diff,product,div
y = calculator(8,4)
print(y)

(12, 4, 32, 2.0)

In [31]:
y = calculator(8,4)

    
print(y)
print(y[2])

(12, 4, 32, 2.0)
32

In [21]:
y[2]

32

# Using Docsting in Function
 - **Single-line docstring**

In [41]:
def show_result():
    """Let us understrand docstring"""
    print("this is a test program")
show_result()

this is a test program

In [24]:
show_result.__doc__

'Let us understrand docstring'

In [25]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [26]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understrand docstring

- **Multi-line docstring**

In [27]:
def show_result():
    """Let us understrnd docstring 
    
    I am using this function to understrnd aout docstring
    Docstring are used to document function"""
    print("this is a test program")

In [28]:
print(show_result.__doc__)

Let us understrnd docstring

    I am using this function to understrnd aout docstring
    Docstring are used to document function

In [29]:
show_result.__doc__

'Let us understrnd docstring \n    \n    I am using this function to understrnd aout docstring\n    Docstring are used to document function'

In [30]:
help(show_result)

Help on function show_result in module __main__:

show_result()
    Let us understrnd docstring

    I am using this function to understrnd aout docstring
    Docstring are used to document function

In [2]:
def first_function():
        """this function is test for a program"""
        diff=a-b
        div=a/b
        """hello sir"""
        floor=a//b
        print("hello sir")
        "function is working this time"

In [48]:
help(first_function)

Help on function first_function in module __main__:

first_function()
    this function is test for a program

# Scope of variables

In [3]:
t = "python"     # Global Variable
def scope_var():
    u = "analytics"   # that call local variable
    print("T is ",t)
scope_var()
print("The value of t is",t)
print("the value of u is",u)

T is  python
The value of t is python

NameError: name 'u' is not defined

In [55]:
t = "python"             # Global variable
u = "analytics"          # global variable u
def scope_var():
    u = "data science"   # local variable u
    print(u)  
    print("T is ",t)
scope_var()
print("The value of t is",t)

print("The value of u is",u)

data science
T is  python
The value of t is python
The value of u is analytics

In [42]:
t = "python"
u = "analytics"
def scope_var():
    print("value of u inside function before declaring it as local is ",u) # befroe assign variable is not reference
    u = "data science"
    print(u)
    print("T is",t)
scope_var()
print("The value of t is ",t)
print("The value of u is ",u)

UnboundLocalError: local variable 'u' referenced before assignment

# Global variable

In [72]:
t = "python"
u = "analytics"
def global_var():
    global u
    u = "data science"
global_var()
print("the value of",t)
print("the value of ",u)

the value of python
the value of  data science

In [73]:
# creating a global variable inside a function
def global_test():
    global x
    x = 78
    print("x inside function is",x)
global_test()
print("x outside function is ",x)

x inside function is 78
x outside function is  78

In [44]:
def global_test():
    global x = 78
    print("x inside function is",x)
global_test()
print("x outside function is ",x)

SyntaxError: invalid syntax (2239576952.py, line 2)

In [8]:
def first_function():
    a = 10
    sum = a+34
    def second_function():
        a = 20
        diff = a-23
        return diff
    
    second_function()
first_function()

In [53]:
34
78

78

In [17]:
def outer():
    w = 89
    def inner():
        w = 67
        print(w)
    inner()
    print(w)
outer()

67
89

In [23]:
def outer():
    w = 89
    def inner():
        print(w)
    inner()
    print(w)
outer()

89
89

In [31]:
# her W is global so this out is 89
w = 89
def inner():
    print(w)
inner()
print(w)

89
89

In [35]:
def inner(): # we out is output is 67 and 89 because w =89 is a global variable which is decleared at input 31 
        w = 67
        print(w)
inner()
print(w)

67
89

In [38]:
def inner(): 
    w = 67
    print(w)
inner()

67

In [39]:
def show_result():
    global a
    a = 10
    sum = a+78
    print(sum)
show_result()
print(a)

88
10

In [42]:
x = "hello world"
def print_result():
    x = "hi"
    print(x)
print_result()
print(x)

hi
hello world

# Nonlocal Variables

In [45]:
def outer():
    w=89
    def inner():
        nonlocal w
        w = 67
        print(w)
    inner()
    print(w)
outer()

67
67

In [48]:
def outer (): # first funcstion not create local variable than im call nonlocal program the is give a error
    def inner():
        nonlocal x
        x = 20
        print(x)
    inner()
    print(x)
outer()

SyntaxError: no binding for nonlocal 'x' found (3480734177.py, line 3)

In [14]:
# argument vs parameters
def my_func(x,y):  # here x and y are the parameters
    return x+y


my_func(45,67)    # here 45 and 67 are the arguments

112

# Pyhton Function Argument

1. Positional argument 
2. Keyword argument
3. Default arguement
4. Variable-length argument

In [21]:
def my_function(): # im not give  a any parameter in function 
    pass
my_function(56)

TypeError: my_function() takes 0 positional arguments but 1 was given

 # Positional argument 
 - are arguments that are pssed to a function in proper positional order

In [4]:
def calc(p,q):
    diff = p-q
    return diff
calc(89,45)

44

In [23]:
calc(45,89)

-44

# Keyword arguments-
- Values get assigned to the parameters by their name (keyword)
- Here the order of the arguments does not metter.

In [24]:
def my_func(p,q):
    diff = p-q
    return diff
calc(p=10,q=2)

8

In [25]:
calc(q=2,p=10)

8

In [26]:
calc(p=12,q=2)

10

In [27]:
calc(a=10,b=2)

TypeError: calc() got an unexpected keyword argument 'a'

# Default arguments -
- Take the default value during the function call if we do not pass them

In [29]:
def get_message(msg="Hello world"):
    print(msg)
get_message("hi")

hi

In [30]:
get_message()

Hello world

In [9]:
def get_message(msg="helloworld",y =45):
    print(y)
get_message("78")

45

In [6]:
get_message()

45

In [10]:
get_message(78)

45

In [36]:
def get_message(msg,q = 35):
    print(msg,q)
get_message()

TypeError: get_message() missing 1 required positional argument: 'msg'

In [37]:
def get_message(msg,q=35): # q=35 is a default
    print(msg,q) # msg parameters
get_message("hi",q=78) # hi is positional argument # q= 78 this is a keyword argument

hi 78

# Variabel-length arguments or Arbitary Arguments-
- When we need to pass multiple arugments to the function ,we can use variable-length arguments.

In [11]:
# Arbitary postional arugments 
def sub(*numbers):
    print(numbers)
    sum = 20
    for x in numbers :
        sum = sum - x
    print(sum)
sub(9,4,12)

(9, 4, 12)
-5

In [14]:
def sub(*numbers):
    print(numbers)
    sum = 5
    for x in numbers :
        sum = sum -x
    print(sum)
sub(9,12,4)

(9, 12, 4)
-20

In [13]:
-16-4

-20

In [13]:
def sub(*numbers):
    print(numbers)
    sum = 5
    for x in numbers :
        sum = sum -x
    print(sum)
sub(4,9,12)

(4, 9, 12)
-20

In [12]:
# Arbitary keyword arguments 
def my_func(**key_word):   # key_word is a dictionary
    print(key_word)
    for sub in key_word:
        print("my func subject :",sub)
        # get arugments value
        sub_marks = key_word[sub]
        print("my subject marks:",sub_marks)
        print(sub,"=",sub_marks)
my_func(math=56, english=61, science=73)

{'math': 56, 'english': 61, 'science': 73}
my func subject : math
my subject marks: 56
math = 56
my func subject : english
my subject marks: 61
english = 61
my func subject : science
my subject marks: 73
science = 73

In [16]:
def my_taks(**number):
    print(number)
    for num in number:
        print("my taks number:",num)
        num_taks = number[num] 
        print("my taks number:",num_taks)
        print(num,"=", num_taks)
my_taks(Rider=56,speed=110,cut=78)

{'Rider': 56, 'speed': 110, 'cut': 78}
my taks number: Rider
my taks number: 56
Rider = 56
my taks number: speed
my taks number: 110
speed = 110
my taks number: cut
my taks number: 78
cut = 78

# Recursion 
A recursion function is a function that calls itself,again and again.

In [ ]:
def my_func():   #  The kernel appears to have died.
    
    my_func()
my_func()

In [1]:
def factorial(no):
    if no == 0:
        return 1
    else:
        return no * factorial (no -1)
    
print("factorial of number:",factorial(4))

factorial of number: 24

In [28]:
x = int(input())
def devion(num):
    if num//2==0:
        return 1
    else:
        return num * devion (num-1)
print("devion of:",devion(x))

3
devion of: 6

In [32]:
4//2

2

In [ ]:
# Lambda Function (anonymous)

In [ ]:
# used for instant and one-time use
# wirtten in just one line

In [ ]:
# lambda parameters:  Expression

In [1]:
lambda : print("hello world")

In [2]:
(lambda : print("hello world"))()

hello world

In [9]:
(lambda : print("hello world",89))("hello")

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [13]:
(lambda:print("hello world"))()   # print fucntion

hello world

In [24]:
(lambda x,y:(x+y))(10,5)

15

In [10]:
(lambda *number:print(*number))(8,5,5,9,5,5)

8 5 5 9 5 5

In [52]:
(lambda **number:print(**number))("english":89,"hindi":90)

SyntaxError: invalid syntax (1277903028.py, line 1)

In [19]:
(lambda:print("hello world"))()

hello world

In [29]:
sum=12                         # im not assigment value lambda function
lambda  :  sum=9

SyntaxError: cannot assign to lambda (48990107.py, line 1)

In [30]:
# Filter (function,iterable) # list set tuple dic string range
filter(lambda x : x%2==0 , (1,2,3,4,5,6,7,8))        # only experssion value use for filter function

In [31]:
list(filter(lambda x : x%2==0 , (1,2,3,4,5,6,7,8)))

[2, 4, 6, 8]

In [32]:
list(filter(lambda x : True ,(1,2,3,4,5,6,7,8)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
list(filter(lambda x : False ,(1,2,3,4,5,6,7,8)))

[]

In [34]:
list(filter(lambda x : "string" ,(1,2,3,4,5,6,7,8)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
list(filter(lambda x : None ,(1,2,3,4,5,6,7,8)))

[]

In [24]:
list(filter(lambda x : x%2==0,(range (1,10))))

[2, 4, 6, 8]

In [42]:
# map(function,itreable)
# take a dunction as a first argument and applies it to each of the elemet of the iterable
list1 = [2,3,5,6]
list2 = map(lambda x : x+2,(list1))
print("result is",list2)

result is <map object at 0x000001A612C73F10>

In [43]:
list1 = [2,3,5,6]
list2 = list(map(lambda x : x+2,(list1)))
print("result is",list2)

result is [4, 5, 7, 8]

In [44]:
list1 = [2,3,5,6]                                   # iterable replace the value list1
list2 = list(map(lambda x : "data science",(list1)))
print("result is",list2)

result is ['data science', 'data science', 'data science', 'data science']

In [54]:
list1 = [2,3,5,6]                                   # iterable replace the value list1
list2 = list(map(lambda x : bool (list1)))
print("result is",list2)

TypeError: map() must have at least two arguments.

In [21]:
print(list(filter(lambda x:, x = range(1,12) ,  if x%2==0:  print("even number",x) else:print("this is a odd number",x()))))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2186325890.py, line 1)

In [54]:
x = list(range(1,11))
print(list(filter(lambda x:  if x%2==0:    print("even number",x)    else:    print("this is a odd number",x)())))

SyntaxError: invalid syntax (1438329031.py, line 2)

In [48]:
(list(filter(lambda x:   if x%2print(list(filter(lambda x:, x = range(1,12) ,  if x%2==0:  print("even number",x) else:print("this is a odd number",x()))))==0: , else :(range ( 1,10)))))

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1561281130.py, line 1)

In [57]:
list(filter(lambda x : x%2==0, (range(1,20))))

[2, 4, 6, 8, 10, 12, 14, 16, 18]