# Input Function

- In, pyhton, using the input () function we takee input from a user and using the print () we display output on the screen.( Any Data given in input is string)

In [1]:
Name = input ("enter empolyee name:")
print("hello" +Name + "how are you")

enter empolyee name:Gaurav Bisht
helloGaurav Bishthow are you

In [4]:
name = input ("empolyee name")
age= input("age")
salary= input("salary")
print (name,"\t" + age,"\t" +salary)

empolyee nameGaurav Bisht
age26
salary500000
Gaurav Bisht 	26 	500000

In [4]:
name = input("enter empolyee name:\n")
print("how are you sir\n")
print("im 28 age year old\n")
print("my salary 46000\n")

enter empolyee name:
Gaurav Bisht
how are you sir

im 28 age year old

my salary 46000

In [2]:
Name = input("enter empolyee name:")

enter empolyee name:Gaurav

In [3]:
 Age = input ("whats your age:")

whats your age:28

In [4]:
Salary = input ("my salary is:")

my salary is:45000

In [5]:
print ("\n")
print("empolyee detial")
print("Name","Age","Salary")
print (Name,Age,Salary)

empolyee detial
Name Age Salary
Gaurav 28 45000

In [10]:
Name = input ('enter empolyee name:')

enter empolyee name:Gaurav

In [14]:
Age = input ('enter empolyee  age:')

enter empolyee  age:25

In [2]:
company = input ('enter empolyee company name:')

enter empolyee company name:vijai

In [4]:
#take three value from user
Name = input  ('enter empolyee name:')
Age = input ('enter empolyee age:')
company = input ('enter empolyee company name:')

#display all vlaue on display
print('\n')
print('printing empolyee detail')
print('Name','Age','company')
print(Name,Age,company)
type(print(Name))

enter empolyee name:Gaurav
enter empolyee age:25
enter empolyee company name:viaji


printing empolyee detail
Name Age company
Gaurav 25 viaji
Gaurav

NoneType

In [3]:
x = input ("even number:")
y = input ("odd number:")
z = x+y
print(z)

even number:8
odd number:9
89

In [7]:
Name = input("enter employe name :")
Age = input ("enter employee age :")
Salary  = input ("enter empolyee salary : ")          
Hobby = input ("enter empolyee hobby :")
Location = input("enter empolye location :")
print ("Name\t\t-\t\t",Name)
print("Age\t\t-\t\t",Age)
print("Salary\t\t-\t\t",Salary)
print("Hobby\t\t-\t\t",Hobby)
print("Location\t\t-\t\t",Location)

enter employe name :Gaurav Bisht
enter employee age :28
enter empolyee salary : 590k
enter empolyee hobby :Bike Rider Travling
enter empolye location :Haldwani
Name		-		 Gaurav Bisht
Age		-		 28
Salary		-		 590k
Hobby		-		 Bike Rider Travling
Location		-		 Haldwani

In [2]:
Name = input("enter employee name:")

enter employee name:Gaurav

In [3]:
Name = input ("enter employee name:")
Age = input ("enter employee age:")
Salary = input ("enter employee salary:")
company = input ("enter employee company name:")
 
    
print("\n")
print("\'enter employee detail\'")
print("Name\t-\t", Name)
print("Age\t-\t", Age)
print("Salary\t-\t", Salary)
print("company\t-\t", company)
type(print(Name))

enter employee name:Gaurav
enter employee age:25
enter employee salary:500000
enter employee company name:Google


'enter employee detail'
Name	-	 Gaurav
Age	-	 25
Salary	-	 500000
company	-	 Google
Gaurav

NoneType

In [ ]:
A= input ("even no : ")
B= input ("odd no: ")
C= A+B
print(C)

In [5]:
b=input("even number:")
c=input("odd number")
r=b+c
print(r)

even number:4
odd number5
45

In [11]:
A=input ("enter number")
print(A)
b=int(A)
print(b)
type(b)

enter number6
6
6

int

In [2]:
type(A)

str

In [3]:
print(type(A))

<class 'str'>

In [4]:
int(A)

89

In [5]:
type(A)

str

In [3]:
A=int(input("evn no"))
print(A)
type(A)

evn no78
78

int

In [11]:
A=float(input("giva a number"))

giva a number89

In [12]:
print(A)
type(A)

89.0

float

In [13]:
int(A)

89

In [14]:
complex(A)

(89+0j)

In [15]:
bool(A)

True

In [16]:
str(A)

'89.0'

In [21]:
b=bool(A)

In [22]:
type(b)

bool

In [32]:
X= input("give me number:")

give me number:78

In [33]:
type(X)

str

In [34]:
complex(X)

(78+0j)

In [35]:
bool(X)

True

In [36]:
float(X)

78.0

In [37]:
int(X)

78

In [1]:
marks= float(input("enter no:"))
print("\n")
print("student marks", marks)
print("tpye is :", type (marks))

enter no:678


student marks 678.0
tpye is : <class 'float'>

In [13]:
Date= complex(input("enter no: "))
print("\n")
print("select date", Date)
print("tpye is : ", type (Date))

enter no: 7


select date (7+0j)
tpye is :  <class 'complex'>

In [6]:
D= int(input("enter number"))
G= int(input ("enter number"))
H= D+G
print(H)

enter number6
enter number7
13

In [10]:
6j*2

12j

In [8]:
6j/2

3j

In [1]:
J = bool(input("enter number:"))
y = bool(input("enter number:"))
U = J+y
print("\n")
print(bool(U))
type(U)

enter number:56
enter number:76


True

int

In [22]:
work = float(input("get to work"))
time = float(input("timeing"))
total = work+time
print("\n")
print(total)
type(total)

get to work89
timeing78


167.0

float

In [6]:
F = input("enter number")
print((F),('\n'),int(F),float(F),str(F),bool(F),complex(F))

enter number89
89
 89 89.0 89 True (89+0j)

In [1]:
X=input ("enter name: ")#
y=input("enter age: ")
z=input("enter location: ")
q = X+y+z

enter name: Gaurav
enter age: 28
enter location: 56
Gaurav2856

In [5]:
X=input ("enter name: ")
y=input("enter age: ")
z=input("enter location: ")
q = X+y+z
print(q)

enter name: Gaurav
enter age: 28
enter location: haldwani
Gaurav28haldwani

In [9]:
X=input ("enter name: ") # (q) is a intring and only defind x+y+z than not print(q)
y=input("enter age: ")
z=input("enter location: ")
q = X+y+z

enter name: Gaurav
enter age: 28
enter location: Haldwani

In [1]:
Name = input("enter name : ")
Age = input ("enter age : ")
Hobby = input("enter hobby : ")
Work = input ("enter work : ")
Perents = input ("enter perents name : ")
print ("\n")
print("Name\t-\t",Name)
print("Age\t-\t",Age)
print("Hobby\t-\t",Hobby)
print("Work\t-\t",Work)
print("Perents\t-\t",Perents)
print(type("Name"),("Age"),("Hoby"),("Work"),("Perents"))

enter name : Gaurav Bisht
enter age : 28
enter hobby : Ridering, Travling
enter work : Data scienes
enter perents name : Ratan Singh Bisht


Name	-	 Gaurav Bisht
Age	-	 28
Hobby	-	 Ridering, Travling
Work	-	 Data scienes
Perents	-	 Ratan Singh Bisht
<class 'str'> Age Hoby Work Perents

In [4]:
Bike = input ("enter bike name : ")
Clur = input ("enter bike clur : ")
Name = input ("enter bike name : ")
Cost = input ("enter bike cost : ")
Speed = input ("enter bike speed : ")
Insurece = input ("enter insurece date : ")
print("\n")
print("Bike\t-\t", Bike)
print("\n")
print("Clur\t-\t,",Clur,"Name\t-\t",Name,"Cost\t-\t",Cost,"Speed\t-\t",Speed,"Insurece\t-\t",Insurece)
print(type(Bike),type(Clur),type(Name),type(Cost),type(Speed),type(Insurece))

enter bike name : Gaurav Bisht
enter bike clur : Light Green
enter bike name : Ninja H2R
enter bike cost : 150000000
enter bike speed : 400kmph
enter insurece date : 45-5-34


Bike	-	 Gaurav Bisht


Clur	-	, Light Green Name	-	 Ninja H2R Cost	-	 150000000 Speed	-	 400kmph Insurece	-	 45-5-34
<class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [3]:
Flowers = complex(input("enter Folwers name : "))
print("\n")
print("Flowers")
type(Flowers)

enter Folwers name : 78


Flowers

complex

In [20]:
print ("Name","\t\t\t","Physics","\t\t","Chemistry","\t\t","Maths")
print ("Arvid Sir :"," \t\t","90"," \t\t\t","90"," \t\t\t","90")

Name 			 Physics 		 Chemistry 		 Maths
Arvid Sir :  		 90  			 90  			 90

In [33]:
print("Name",    "|","\t\t","Math's","\t","Physics","\t","biology","\t","Chemistry"   )
print("Gaurav :", "|","\t", "99","\t\t", " 90", "\t\t", "90","\t\t","90")
print("Rishi : ", "|","\t", "90", "\t\t", "90", "\t\t","90","\t\t","90")

Name | 		 Math's 	 Physics 	 biology 	 Chemistry
Gaurav : | 	 99 		  90 		 90 		 90
Rishi :  | 	 90 		 90 		 90 		 90

In [ ]:
print("name","|","\t\t\t","Math's","|","\t\t\t","Biology","|","\t\t\t","Chemistry","|","\t\t\t","Physics")

# take a two digit no in input from usee.

In [35]:
input ("Two digit no is :")

Two digit no is :78%5

'78%5'

In [36]:
#take two number and input from the user n the two in this way(28+12=2812)
# take only two number (two digit positive number and input from the user in this way)(25+35=5*3+2*5=25)

input ("two digit no is :")

In [2]:
input("enter number:")
print("enter number%")

enter number:89%
enter number%

In [3]:
input("enter number:")("%")

enter number:78

TypeError: 'str' object is not callable

In [4]:
print(input("78"%"8"))

TypeError: not all arguments converted during string formatting

In [5]:
_23=input("even number :")
_45=input("odd number : ")
print("even number")+("odd number")

even number :78
odd number : 78
even number

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [8]:
x= 90

y= 90
print("x")+("y")

x

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
print("90+90=9090")

90+90=9090

In [8]:
number = int(input("enter number:"))
no= int(input("enter number: "))
print(number,"+",no,"=",number+\
      no)

enter number:90
enter number: 90
90 + 90 = 180

In [33]:
number = int(input("enter number : "))
no = int(input("enter number :"))
str(number)
str(no)
print(number,"+",no,"=",number+no
     )

SyntaxError: invalid syntax (2411087553.py, line 5)

In [21]:
number = int(input("enter number : "))
no = int(input("enter number :"))
print(number,"+",no,"=",number,no)

enter number : 90
enter number :90
90 + 90 = 90 90

In [17]:
number = int(input("enter n :"))
var = input("enter no:")
print(number,var)

enter n :88
enter no:%
88 %

In [18]:
number = int(input("enter n :"))
var = input("enter no:")
print(number)

enter n :78
enter no:%
78

In [3]:
number = int(input("enter number : "))
no = int(input("enter number : "))
nmber= str(input("enter number : "))
num = str(input("enter number : "))
print(number,"+",no,"=",nmber+num)

enter number : 90
enter number : 90
enter number : 90
enter number : 90
90 + 90 = 9090

In [4]:
number = int(input("enter number : "))
no = int(input("enter number :"))
nmber = str(input("enter number : "))
num = str(input("enter number: "))
print(number,"+",no,"=",nmber+num)

enter number : 78
enter number :65
enter number : 78
enter number: 65
78 + 65 = 7865

In [6]:
number = int(input("enter number : "))
no = int(input("enter number :"))
nmber = str(input("enter number : "))
num = str(input("enter number: "))
print(number,"+",no,"=",nmber+num)

enter number : 98
enter number :78
enter number : 98
enter number: 78
98 + 78 = 9878

In [5]:
number = int(input("enter number : "))
no = int(input("enter number :"))
nmber = str(input("enter number : "))
num = str(input("enter number: "))
print(nmber,"+",num,"=",nmber+num)

enter number : 78
enter number :67
enter number : 78
enter number: 67
78 + 67 = 7867

In [6]:
number = int(input("enter number : "))
no = int(input("enter number :"))
nmber = str(input("enter number : "))
num = str(input("enter number: "))
print(number,"+",no,"=",number+no)

enter number : 89
enter number :89
enter number :
enter number: 89
89 + 89 = 178

In [7]:
one = int(input("25"))
two = int(input("35"))
print(one,"*",two,"*")

252*5

ValueError: invalid literal for int() with base 10: '2*5'

In [8]:
one = int(input("25"))
two = int(input("35"))
print(one,"*",two,"*")

2525
3535
25 * 35 *

In [1]:
one = int(input("23"))
two = int(input("25"))
three= str(input("23"))
four = str(input("25"))
print("three"*"four")

2345
2545
2345
2545

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
one = int(input("enter no: ")) # botmass throught
two = int(input("enter no : "))
product = one//10 * two%10 + one%10 * two//10
print(product)

enter no: 23
enter no : 24
15

In [14]:
one = int(input("enter no: ")) # operater throught
two = int(input("enter no : "))
product = (one//10) * (two%10) + (one%10) * (two//10)
print(product)

enter no: 23
enter no : 24
14

In [20]:
23%24

23

In [ ]:
one = int(input("35 "))
two = int(input("34"))
print(35*34)

35 35

In [3]:
one = int(input("enter no"))
two = int(input("enter no"))
three = (one%two)
print(three)

enter no45
enter no10
5

In [5]:
one = int(input("enter no"))
two = "%"
print(three)

SyntaxError: invalid syntax (472999216.py, line 3)

In [10]:
one = int(input("35 "))
two = int(input("34"))

print(one*two)

35 34
34

ValueError: invalid literal for int() with base 10: ''

In [21]:
one = int(input("45"))
print(one%45)

4545
0

In [4]:
one = int(input("45"))
print(one,%)

SyntaxError: invalid syntax (3582567533.py, line 2)

In [1]:
one = int(input("45"))
two = int(input("4"))
print(one%two)

4590
49
0

In [5]:
one = int(input("45"))
print(one('%'))

4545

TypeError: 'int' object is not callable

In [16]:
one = int(input("45"))
two = (one%5)
print(one,two)

4525
25 0

In [17]:
one = int(input("number"))
two = (one%5)
print(one,two)

number25
25 0

In [18]:
one = int(input("number:"))
two = (one%5)
print(one,two)

number:50
50 0

In [19]:
one = int(input("number:"))
two = (one%5)
print(two)

number:56
1

In [20]:
one = int(input("number:"))
two = (one%5)
print(two)

number:50
0

In [6]:
one = int(input("number:"))
two = (one%)
print(two)

SyntaxError: invalid syntax (2557122450.py, line 2)

In [22]:
one = int(input("number:"))#use modules
two = (one%5)
print(two)

number:100
0

In [3]:
one = int(input("enter integer number : "))
three = one%5
two = int(input("enter integer number : "))
four = two%6
print(one,"*",four,"+",two,"*",three,"=",one+two)

enter integer number : 25
enter integer number : 36
25 * 0 + 36 * 0 = 61

In [2]:
one = int(input("number:"))
two = (one%6)
print(two)

number:34
4

In [4]:
one = int(input("enter integer number : "))
three = one%5
two = int(input("enter integer number : "))
four = two%6
print(one,"*",four,"+",two,"*",three,"=",one+two)

enter integer number : 46
enter integer number : 57
46 * 3 + 57 * 1 = 103

In [10]:
one = int(input("number:"))
two = (one/8)
print(two)

number:78
9.75

In [11]:
one = int(input("number:"))
two = (one//8)
print(two)

number:67
8

In [12]:
one = int(input("number:"))
two = (one%8)
print(two)

number:78
6

In [15]:
one = int(input("number:"))
two = input("%")

print(two)

number:45
%5
5

In [7]:
x = input("enter")
print(x*11)

enter34
3434343434343434343434

In [16]:
one = int(input("number:"))
two = input("%")

print(two)

number:78
%

In [17]:
one = int(input("number:"))
two = input("%")

print(two)

number:56
%7
7

In [24]:
one = int(input("number:"))
two = '%'


print(one%two)

number:56

TypeError: unsupported operand type(s) for %: 'int' and 'str'

In [30]:
one = int(input("number:"))

print(two)

number:67
('one', '%')

In [47]:
one = int(input("number:"))
two = (one%10)



print(two)

number:45
5

In [48]:
one = int(input("number:"))
two = (one%10)

print(two)

number:67
7

In [49]:
one = int(input("number:"))
two = (one%10)

print(two)

number:69
9

In [50]:
one = int(input("number:"))
two = (one%10)

print(two)

number:45
5

In [51]:
one = int(input("number:"))
two = (one%10)

print(two)

number:9009
9

In [52]:
one = int(input("number:"))
two = (one%10)

print(two)

number:78966547654356
6

In [60]:
one = int(input("enter integer number : "))
two = int(input("enter integer number : "))
G1 = (two%1)
G2 = (one%10)
G3 = (one%1)
G4 = (two%10)
print(G1,"*",G3,"+",G2,"*",G4,"=",G1*G2+G3*G4)

enter integer number : 23
enter integer number : 34
0 * 0 + 4 * 3 = 0

In [61]:
one = int(input("enter integer number : "))
three = one%5
two = int(input("enter integer number : "))
four = two%6
print(one,"*",four,"+",two,"*",three,"=",one+two)

enter integer number : 23
enter integer number : 34
23 * 4 + 34 * 3 = 57

In [3]:
one = int(input("enter integer number : "))
two = int(input("enter integer number : "))
G1 = (one//10)
G2 = (two%10)
G3 = (one%10)
G4 = (two//10)
print(G1,"*",G3,"+",G2,"*",G4,"=",G1*G2+G3*G4)

enter integer number : 23
enter integer number : 25
2 * 3 + 5 * 2 = 16

In [66]:
one = int(input("enter integer number : "))
two = int(input("enter integer number : "))
G1 = (two%5)
G2 = (one%10)
G3 = (one%5)
G4 = (two%10)
print(G1,"*",G4,"+",G2,"*",G3,"=",G1*G2+G3*G4)

enter integer number : 23
enter integer number : 25
0 * 5 + 3 * 3 = 15

In [70]:
one = int(input("enter integer number : "))
two = int(input("enter integer number : "))
G1 = (one%10%10)
G2 = (one%10)
G3 = (two%10%10)
G4 = (two%10)
print(G1,"*",G4,"+",G3,"*",G2,"=",G1*G2+G3*G4)

enter integer number : 23
enter integer number : 25
3 * 5 + 5 * 3 = 34

In [2]:
one = int(input("enter integer number : "))
two = int(input("enter integer number : "))
G1 = (one%10)
G2 = (one%10)
G3 = (two%10)
G4 = (two%10)
print(G1,"*",G3,"+",G2,"*",G4,"=",G1*G2+G3*G4)

enter integer number : 23
enter integer number : 34
3 * 4 + 0 * 0 = 0

In [1]:
one = int(input("enter number: "))
two = int(input("enter number :"))
three = str(one)
four = str(two)
print(one+two/4)

enter number: 23
enter number :25
29.25

In [2]:
one = int(input("enter number: "))
two = int(input("enter number :"))

enter number: 45
enter number :56

In [38]:
a = input('enter friend name: ')
b= input("enter friend name:")
c= b.split()
b= a.split()
a = c
print("enter friend name:",a)
print("enter friend name:",b)

enter friend name: Gaurav
enter friend name:rishi
enter friend name: ['rishi']
enter friend name: ['Gaurav']