# Range object (or range data type) is an immutable sequence of integers starting from the given start intefer tothe stop range

In [3]:
# range(start,stop,step)
x = range(1,15,2)
print(x)

range(1, 15, 2)

In [ ]:
x = range(1,15)
x

In [4]:
# Let us check the data type of range object 
type(range(1,15))

range

In [ ]:
x = int(input("enter number p
              "))

In [ ]:
# range indexing
range_x = range(1,15)
range_x[6]

In [5]:
# type casting 
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
tuple(range(1,15))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [7]:
# What heppend when I pass only i=one argument in range ()
dict(range(15))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [8]:
tuple(range(15))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [9]:
str(range(15))

'range(0, 15)'

In [12]:
bool(range(15))

True

In [13]:
set(range(15))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
x = int(input("enter number :"))
r = "rishi",
rk = "rohit",
b = "bhumika",
p ="pushpendra",
pp = "priyashu" ,
a ="arjun",
m = "maam",
d = "dr uncle",
{1}

In [ ]:


y ={1:"rishi",2:"rohit",3:"bhumika",4:"pushpendra",5:"priyashu",6:"gaurav",7:"maam",8:"nitin",9:"raj",10:"himashu"}
x = int(input("enter number"))

print(y[x])

In [ ]:
a = range(int(input("enter number:")))
y = sum(max(a))
print(y)

In [ ]:
x = "rishi"
x.replace("r","R")

In [ ]:
x = "gaurav"
y = x[0]
z = x[1:]
a = y.upper()
g = a+z
print(g)

In [ ]:
complex(range(30))

# Python Programming Fundamentals

1. **Control flow statements**
2. **Functions**

# CONTROL FLOW STATEMENT
 - In python programming, control flow is the order in which statements or blocks of code are executed at runtime.
 
 **FLOW CONTROL**
 
 **1.** **Conditional Statements**
   - if
   - if-esle
   - if-elif-else
   - nestedif-else
    
**2.** **Transfer Statements**
   - break
   - continue
   - pass
    
**3.** **Iterative Statements**
   - for
   - while

In [4]:
# Conditional Statement
x = 8
if x=8:
    print("x ix ",x)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1041607162.py, line 3)

In [ ]:
x = 8
if x==8:
print("x is ",x)

In [ ]:
x = 10     # there is exclued to else
if x==8:
    print("x is",x)
    y =  9
    print(y)
else:
    print(("x is not 8"))
elif x ==10:
    print("x id",x)

In [ ]:
x = 89    # there is exclued to else
if x==8:
    print("x is",x)
    
    

elif x ==10:
    print("x id",x)
else:
    print(("x is not 8"))

In [ ]:
x = 89    # there is exclued to else
if x==8:
    print("x is",x)
elif x ==10:
    print("x id",x)

In [ ]:
x = 45    # there is exclued to else
if x==8:
    print("x is",x)
    y =  9
    print(y)

elif x ==10:
    print("x id",x)
else:
    print(("x is not 8"))

In [ ]:
x = 89    # there is exclued to else
if x==8:
    print("x is",x)
elif x ==20:
    print("x is",x)
elif x ==40:
    print("x is",x)
elif x == 56:
    print("x is ",x)
elif x ==10:
    print("x id",x)
elif x ==89:
    print("x is",x)
else:
    print(("x is not 8"))

In [ ]:
# Check whether a number is a palindrome number:
x = input("enter number:")

if x[::]==x[-1::-1]:
    
    print("this is a polindrome",x)
    
    


else : 
    print("this is a not palindrome",x)

In [ ]:
# progrom to check wheteher a number is odd or even:
# Check whether a number is a palindrome number: 
121,11,31,454

In [ ]:
# progrom to check wheteher a number is odd or even:
x = int(input("enter number:"))

if x%2==0:

    print("this is a even number:",x)

else : 
    print("this is a odd number:",x)

###

In [ ]:
# write a python program to retrun a new set with unique items from two sets by removing duplicates.
set1={10,20,30,40,50}
set2={30,40,50,60}
set1.union(set2)

In [ ]:
set1.update("78")
set1

In [ ]:
set1.remove(10),set1.remove(20),set1.remove(30)
set1

In [ ]:
x = input("enter number:")

if 
    print("table:",x)

In [ ]:
x = 10*1,10*2,10*3,
x

In [ ]:
x = input("enter number :")
if x==x:
  
    print("x*1",x*1)
    print("x*2",x*2)
    print("x*3",x*3)
    print("x*4",x*4)
    print("x*5",x*5)
    print("x*6",x*6)
    print("x*7",x*7)
    print("x*8",x*8)
    print("x*9",x*9)
    print("x*10",x*10)

In [ ]:
x = input("enter number :")
y = input("enter number:")
z= input("enter number:")

if x==x:
    print(x*1)
elif y==y:
    print(y*2)
elif z==z:
    print(z*3)

In [ ]:
x = int(input("enter number :"))
if x * x:
  
    print("x*1",x*1)
    print("x*2",x*2)
    print("x*3",x*3)
    print("x*4",x*4)
    print("x*5",x*5)
    print("x*6",x*6)
    print("x*7",x*7)
    print("x*8",x*8)
    print("x*9",x*9)
    print("x*10",x*10)

In [ ]:
x = int(input("enter number :"))
if x * x:
  
    print("x*1",x*1,"x*2",x*2,"x*3",x*3,"x*4",x*4,"x*5",x*5,"x*6",x*6,"x*7",x*7,"x*8",x*8,"x*9",x*9,"x*10",x*10)

In [ ]:
x= int(input("enter number:"))
y= int(input("enter number:"))
z= input("enter operater:")

if  z=="+":
    print("x+y",x+y)
elif z=="-":
    print("x-y",x-y)
elif z=="*": 
    print("x*y",x*y)
elif z== "/" :
    print("x/y",x/y)
elif z== "%":
    print("x%y",x%y)
elif z == "//":
    print("x//y",x//y)

In [ ]:
# Nested if-esle
x = input("value for x")
y = input("value for y")
z = input("value for z")
if x>y:
    if x>z:
        print("x>y>z")
    else:
        print("y<x<z")
elif x==y:
    if x>z:
        print("x==y>z")
    else:
        print("y==x<z")
elif x<y:
    if x>z:
        print("x>y>z")
    else:
        print("x<y<z")

In [ ]:
# Nested if-esle
x = input("value for x")
y = input("value for y")
z = input("value for z")
if x>y:
    if x>z:
        print("x>y>z")
    else:
        print("y<x<z")
elif x==y:
    if x>z:
        print("x==y>z")
    else:
        print("y==x<z")
elif x<y:
    if x>z:
        print("x>y>z")
    else:
        print("x<y<z")

In [ ]:
# Nested if-esle
x = input("value for x")
y = input("value for y")
z = input("value for z")
if x>y:
    if x>z:
        print("x>y>z")
    else:
        print("y<x<z")
elif x==y:
    if x>z:
        print("x==y>z")
    else:
        print("y==x<z")
elif x<y:
    if x>z:
        print("x>y>z")
    else:
        print("x<y<z")

In [ ]:
# Single line if statement
x = input("enter value")
y = input("enter value")
if x>y:  print("x>y")
elif x==y: print("x==y")
else : print("x<y")

In [ ]:
if ((8+4)/2==6):
    print("6")
else:
        print()

In [ ]:
if 8+4/2==10:
    print("10")
else:
    print()

In [ ]:
if 16/4+12==16:
    print("16")
else :
    print()

In [ ]:
x = input("value for x:")
y = input("value for y:")
z = input("value for z:")
if(x>y):
    if x>z:
        print("x>y>z")
    else:
        print("y<x<z")
elif(x==y):
    if x>z:
        print("x==y>z")
    else:
        print("y==x<z")
elif(x<y):
    if x>z:
        print("x>y>z")
    else:
        print("x<y<z")

In [ ]:
x = input("value for x")
y = input("value for y")
z = input("value for z")
if x>y:
    if x>z:
        print("x>y>z")
    else:
        
        print("y<x<z")
if x>y:
    if x>z:
        print("x==y>z")
    else:
        print("y==x<z")
if x>y:
    if x>z:
        print("x>y>z")
    else:
        print("x<y<z")

# **Loops**
<font size=4 >Loops are used to execute a block of code repatedly.
# **for loop**
The for loop iterates over an iterable object.
1. for loops are used when you have  block of code which you want to repat a fixed number of times.
2. for loops are also used to perfrom the same set of operations for each item in an iterable (string, list,tuple,set,dictionary ,range)
3. Thus, for loops reduce the code complexity and saves time.

In [ ]:
x= [1,2,3,4,5]
for a in x:
    print(a)
print("value of a",a)

In [2]:
y = {23,45,67,78,90}
for c in y:
    print(c)
print("value of c",c)

67
23
90
45
78
value of c 78

In [ ]:
c = range(1,20)
for b in c:
    print(b)

In [ ]:
x = (1,2,3,4,5)
for a in x:
    print(x)
    for c in x:
        print(c)

In [ ]:
x = range(1,15)
for c in  x:
    print(c)
    for d in x:
        print(x)
        for

In [ ]:
x = list(range(0,31))
for v in x:
    if v%2==0:
        print("this is a even no:",v)
    else:
        print("enter is a odd no:",v)

In [ ]:
x = {"12":"er","15":"huy","5":"ghf"}
for y in x:
    print(y)
    print(type(y))

In [ ]:
sum = 0
for a in range(1,11):
    if a%2==0:
        
        sum+=a
print("enter even number of sum",sum)

In [ ]:
for a in range(1,11):
    print(a)

In [ ]:
x = dict(range(2,4))
print(x)

In [ ]:
y = range(0,4)
print(y[0])
(y[1])
(y[2])

In [ ]:
y = range(0,4)
for x in y:
    print(x)

In [ ]:
g =0
for a in range(1,11):
    if a%2==0:
        g=g+a
        print(g)
print("enter plus even number",g)

In [ ]:
g =0
for a in range(1,11):
    if a%2==0:
        g=g+a
        print(g)
    print("hello")
print("enter plus even number",g)

In [ ]:
x = int(range(1,11))
if x%2==0:
    print(x)

In [ ]:
g = int(input())
j = int(input())
h = int(input())
for a in range(0,20,2):
    if a%2==0:
        j= j+a
        print("sum",j)

In [1]:
g = int(input())
k = 0
j = int(input())
for c in range(g):
    if c%2==0:
        for c in range (j):
            k= k+c
            print("sum",k)

4
4
sum 0
sum 1
sum 3
sum 6
sum 6
sum 7
sum 9
sum 12

In [ ]:
# Ask the user for the range from which the sum of even numbers should be printed.
# eg. 10 to 20 60 to 1000, 70 to 80
g = int(input())
k = 0
j = int(input())
for c in range(g,j):
    if c%2==0:
        k= k+c
        print("sum",c)
print("add sum",k)

In [ ]:
10+12+14+16+18

In [ ]:
# square each number inside a list and finally print it.
x=list(range(1,6))
y =[]

for a in range(1,6):
    x = a*a
    print(((x)))
x.

In [ ]:
list(4,5,6,7)

In [58]:
x=list(range(1,5))
for a in x:
    
    if  a**a:
        print(((a)))

1
2
3
4

In [ ]:
x = range(0,31)
for v in x:
    if v%2==0:
        print("this is a even no:",v)
    else:
        print("enter is a odd no:",v)

In [60]:
x=[1,3,5,6]
y=[]
for a in x:
    for u in a:
        a**a
print((x))

TypeError: 'int' object is not iterable

In [ ]:
students= {1:"aa",2:"bb",3:"cc",4:"dd"}
x = int(input(""))
students[5]="ee"
students[x]

In [5]:
# priting pattren
w = list(range(int(input())))
for z in w:
    f = str(z)
    print(z*f)

6

1
22
333
4444
55555

# tables is a for loops methods 
s = int(input("enter table no :"))
r = 1,2,3,4,5,6,7,8,9,10
for q in r:
    print(s,"*",q, "=",s*q)

In [ ]:
e = 0
x = [2,5,25,35,40,45,]
for y in x:
    if y//5 == 10:
        e=e+y
        print(e)

In [ ]:
25//5

In [15]:
1**1

1