# Non Primitive Data Types (Also Call this is a Data Structure)
 - Non-primitive data type are also called data structures.
 - in data structrue primitive and non-primitive data type can both be stored is a sequence or structure

# List Data

In [3]:
x = ["Hello","gaurav",1,2,3,[4,5,6,["Hello"]]]
print(x[5][3][0])
print(id ,x[0])

Hello
<built-in function id> Hello

In [7]:
x = [10]

x.extend("45")
x

[10, '4', '5']

# List Indexing

In [42]:
x[5][2]

6

In [4]:
x= [1,4,5,[6,7,"hello"]]
x[3][2]

'hello'

In [1]:
x[5]

NameError: name 'x' is not defined

In [31]:
x[5][3][0]

'Hello'

In [33]:
x = [1,2,5,6,7,[6,8,[9,6,4]]]
x[5][2][2]

4

In [34]:
x

[1, 2, 5, 6, 7, [6, 8, [9, 6, 4]]]

In [46]:
x = ["gaurav","rishi","rohit","mohit",["best","friend",["each","one",["gaurav"]]]]
print(len(x))

x[2]
x[4][2][2]

5

['gaurav']

In [6]:
x = ['hello',"sir",["my","name",["is","gaurav","operater",["string ","boolean",["structure","nonprimitiv"]]]]]
x[2][2][3][2][1]

'nonprimitiv'

In [7]:
# lend .append(item) - Add a single item at the end of the list
x = [1,2,3]
x.append("pyhton")
x

[1, 2, 3, 'pyhton']

In [8]:
x.append("python is easy")
x

[1, 2, 3, 'pyhton', 'python is easy']

In [43]:
x =[1,2,3]
x.append(["python is easy"])
x

[1, 2, 3, ['python is easy']]

In [9]:
# Extend (iterable)
# iterable - String ,Tuple,sets,List,Dictionary
x= ["gaurav",1,3,4]
x.extend("data hello")
x

['gaurav', 1, 3, 4, 'd', 'a', 't', 'a', ' ', 'h', 'e', 'l', 'l', 'o']

In [50]:
x= ["gaurav",1,3,4]
x.extend(["data","hello"])
x

['gaurav', 1, 3, 4, 'data', 'hello']

In [46]:
x.extend("data")
x

['gaurav', 1, 3, 4, 'd', 'a', 't', 'a']

In [48]:
x.extend(["data",123,56])
x

['gaurav', 1, 3, 4, 'd', 'a', 't', 'a', 'data', 123, 56, 'data', 123, 56]

In [54]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
print(x[7][0])
x

hello

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4]]

In [62]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
x.remove([7]["hello"])
x

<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\gaura\AppData\Local\Temp\ipykernel_8180\2137191223.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x.remove([7]["hello"])
C:\Users\gaura\AppData\Local\Temp\ipykernel_8180\2137191223.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x.remove([7]["hello"])
C:\Users\gaura\AppData\Local\Temp\ipykernel_8180\2137191223.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x.remove([7]["hello"])

TypeError: list indices must be integers or slices, not str

In [67]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
x.remove([7]["hello"])
x

<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\gaura\AppData\Local\Temp\ipykernel_8180\2137191223.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x.remove([7]["hello"])
C:\Users\gaura\AppData\Local\Temp\ipykernel_8180\2137191223.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x.remove([7]["hello"])
C:\Users\gaura\AppData\Local\Temp\ipykernel_8180\2137191223.py:2: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x.remove([7]["hello"])

TypeError: list indices must be integers or slices, not str

In [12]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
print(x[7][3])
x

4

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4]]

In [70]:
x.append("data")
x

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4], 'data']

In [13]:
x.append(["data"])
x

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4], ['data']]

In [15]:
x.extend(["data"])
x

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4], ['data'], 'data', 'data']

In [16]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
x.extend(["data"])
x

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4], 'data']

In [10]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
x.extend("data")
x

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4], 'd', 'a', 't', 'a']

In [9]:
x = ["gaurav",1,1,2,3,4,5,5,6,4,3,6,6,6,6,4,[5,6,8,6,4,7,4]]
x.count([4])

0

In [1]:
x = [1,2,3,4,5,6]    # 
x.insert(4,56)
x

[1, 2, 3, 4, 56, 5, 6]

In [89]:
x.count(5)

2

In [92]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
print(x[7][1:2])

[9]

In [14]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
print(x[0][1::2])
x

arv

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4]]

In [17]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
print(x[-1][-4])
x

hello

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4]]

In [15]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
print(x[-1:-4:-2])
x

[['hello', 9, 3, 4], 5]

['gaurav', 1, 2, 2, 3, 5, 6, ['hello', 9, 3, 4]]

In [102]:
x = (1,2,2,4,6)
x[-4:-2]

(2, 2)

In [20]:
x = ["gaurav",1,2,2,3,5,6,["hello",9,3,4]]
y = x[0:7]
z = x[7][0:4]

    
    

z.remove("hello")
z.append(y)

print(z)

[9, 3, 4, ['gaurav', 1, 2, 2, 3, 5, 6]]

In [24]:



x = ["gaurav",1,2,2,3,5,6,[1,2,3,4,5,6,["hello",9,3,4]]]
a = x[0:6]
b = x[7][0:6]
c = x[7][6]
c.remove("hello")
a.append(b)
b.append(c)
print(x)

['gaurav', 1, 2, 2, 3, 5, 6, [1, 2, 3, 4, 5, 6, [9, 3, 4]]]

In [54]:
# sort() only use for integer and float data tpye (sbko cquel usme likhna)
x =[1,2,789,4,5,6,7,6,8,9.0,0.8,8.8,5.6]
x.sort()
print(x)

[0.8, 1, 2, 4, 5, 5.6, 6, 6, 7, 8, 8.8, 9.0, 789]

In [77]:
x = ["str","myself","structure"]
x.sort()
print(x)

['myself', 'str', 'structure']

In [60]:
# reverse any (usi ko reverse krna)
x.sort(reverse=True)
x

[789, 9.0, 8.8, 8, 7, 6, 6, 5.6, 5, 4, 2, 1, 0.8]

In [63]:
x = [3,6,7,808,6,1,4,6,2,5,6.6,65.5,54]
x.sort()
print(x)

[1, 2, 3, 4, 5, 6, 6, 6, 6.6, 7, 54, 65.5, 808]

In [65]:
x.sort(reverse=False)
print(x)

[1, 2, 3, 4, 5, 6, 6, 6, 6.6, 7, 54, 65.5, 808]

In [66]:
x.sort(reverse=True)
print(x)

[808, 65.5, 54, 7, 6.6, 6, 6, 6, 5, 4, 3, 2, 1]

In [67]:
x =[78,89,"structure","non","primitiv","data"]
x.reverse()
print(x)

['data', 'primitiv', 'non', 'structure', 89, 78]

In [22]:
x = [789.78,09.9,0.0,"daata","tuple","sets","dictonary"]
x.sort()
print(x)

TypeError: '<' not supported between instances of 'str' and 'float'

In [27]:
x = [4,5,6,7,8,9,0,5,6,7]
y = x[5:]
y.sort()
print(y)
y.sort(reverse=True)
y

[0, 5, 6, 7, 9]

[9, 7, 6, 5, 0]

In [82]:
x= [1,2,3,34,4,6,7,8]
z = x[0:4]
y = z[5::-1]
u = y[0:4]

z.extend(u)
z

[1, 2, 3, 34, 34, 3, 2, 1]

In [23]:
x= [1,2,3,34,4,6,7,8]
z = x[0:7]
y = z[6::1]
u = y[0:7]

z.extend(y)
u

[7]

In [78]:
x = [4,5,6,7,8,9,0,5,6,7]
y = x[4]
del(x[4])

print(x)
print(y)

[4, 5, 6, 7, 9, 0, 5, 6, 7]
8

In [44]:
x = ("rishi",'gaurav')
x[1]
del(x[1])
x

TypeError: 'tuple' object doesn't support item deletion

In [43]:
y = ["rishi","gaurav","rohit"]
del (y[2])
y

['rishi', 'gaurav']

In [20]:
x = [6788,567,57]
x[0]=34
x[2]=45
print(x)

[34, 567, 45]

In [5]:
x =  [123,"gaurAV",45,5,5,]    # given a argument is indexing number
x.insert(2,78)
print(x)

[123, 'gaurAV', 78, 45, 5, 5]

In [6]:
x = [ 78,45,56,67,56,6]   # delete all object in give empty list in input
x.clear()
print(x)

[]

In [23]:
x = [56656,88047504,209347459345,7849590754]
y = [988988,88047504,4975439574,7849590754]
x,y = y,x
x

[988988, 88047504, 4975439574, 7849590754]

# Mutable and Immutable difference
  -  All data in python program is represented by objects
  - Every object has an idenitity , a type and a value
  - An object's type determines the operations that the object supports and also defines possible values for objects of that type.
  - The value of some objects can change. Objects whose value can change without changing the idenitity are said to bee mutable;objects whose value is unchangeable once they are created are called immutable.
  - An object that allow you to change its value without changing its idenitity is amutable object.

# Imp: A varriable is a not a container but it point to an object.

# Improtant  : An object's type determines the operations that the object supports and also defines possible values for objects of that type
# Answer : 
- objects ka data type hme yeah smjhata hai ki hme operation(operater) kis data tpye ko support krta hai after vo hme define krta hai ki object ki value me concation ho rha hai ya adding.

In [1]:
x = "data" # hmne jb value di x to uski last id defined uski memory location change hogi
print(id(x))
x = "science"
print(id(x))
print(id(x))

2164919996720
2164997428400
2164997428400

In [28]:
y = [12,45]
print(id(x))
y = [67,56]
print(id(y))

2513077018800
2513078025536

In [8]:
p = "Myself data scientist" # immutable
print(id(p.replace(' ',";")))
print(id(p))
print(id(p.replace(' ',";")))
print(id(p.replace(' ',";")))

2691263218752
2691266196576
2691263218752
2691263218752

In [31]:
p

'Myself data scientist'

In [10]:
z = [1,2,3,4,5,6]
print(id(z))
print(id (z.reverse()))

2310154713088
140716526497472

In [11]:
id (z)

2310154713088

In [12]:
y = "gaurav"

y = "rishi"
print(id(y))

2310126126192

In [4]:
# Mutable---The id or location or address of a list never changes even if the said lists elements edited.
x = [3,5,6,"data"]
print(id(x.append("scientist")))
print(id(x))
print(x)

140716498972352
2155474478912
[3, 5, 6, 'data', 'scientist']

In [13]:
x = [1,2,3,4,5]
print(id(x))
x = [1,2,3,4,5]
print(id(x))
x[3]=6
print (x)
print(id(x))

2310154700160
2310154740928
[1, 2, 3, 6, 5]
2310154740928

In [8]:
x = [3,5,6,"data"]
print(x)
print(id(x))
y = x.append("scientist")
print(id(x))
print(id(y))
print(x)

[3, 5, 6, 'data']
2155474665216
2155474665216
140716498972352
[3, 5, 6, 'data', 'scientist']

# Sets
1. Unordered : The item in the set are unordered, i.e., it will not maintain the order in which the items are inserted.
2. Unidexed : set items are unindexed.
3. Unique : There cannot be two items with the same value in the set
4. Set item must be immutable : we cannot change the seet item
5. Sets are  mutable

In [15]:
c = set()
print(type(c))

<class 'set'>

In [19]:
# sets 
W = {1,2,3} # currly brakets

z = print(id(W.add(56)))
print(W)

140716526497472
{56, 1, 2, 3}

In [9]:
# set methods
set = {1,2,"python"}
#.add (item) (append)
set.add("easy")
print(set)
#.update(iterable)(extend)  ## (iterable- list sets tuples string dicestnoary in iterable)
set.update("4,5")
#.remove
set.remove(2)
print(set)

{'easy', 1, 2, 'python'}
{1, ',', '5', 'python', '4', 'easy'}

In [8]:
set = {3,5,7,"gaurav"}
set.add("bisht")
set.update("45")
print(set)

{3, 5, 7, 'bisht', '5', 'gaurav', '4'}

In [23]:
# Union
a = {1,2,3}
b = {1,2,3,4,5}
print("Union method has been used",a.union(b))
print("udate method is used",a)

Union method has been used {1, 2, 3, 4, 5}
udate method is used {1, 2, 3}

In [18]:
# Intersection
a = {1,2,3}
b = {1,2,3,4,5}
print(a.intersection(b)) # this will not apply the change to a
print(a.intersection_update(b))#this will apply the change to a
print(a)

{1, 2, 3}
None
{1, 2, 3}

In [11]:
a ={1,2,3,46,7}
b = {56,78}



print(id(a.intersection(b)))

2608953026688

In [16]:
# Difference
x = {"str","hello",True,1}
y = {1,2,3,"Hello","str"}
print(x.difference(y))
print(x.difference_update(y))
print(x)

{'hello'}
None
{'hello'}

In [17]:
# Symmetric Difference
x = {"str","hello",True,1}
y = {1,2,3,"Hello","str"}
print(x.symmetric_difference(y))
print(x.symmetric_difference_update(y))
print(x)

{2, 3, 'hello', 'Hello'}
None
{2, 3, 'Hello', 'hello'}

In [25]:
a = {1,2,3}
b = {1,2,3,4,5}
print(id(a.update(b)))

print(a.intersection(b)) 
print(id(a.intersection(b)))
print(a)
print(id(a.intersection_update(b)))
print(id(a.intersection_update(b)))
print(id(a))

140716526497472
{1, 2, 3, 4, 5}
2310154784096
{1, 2, 3, 4, 5}
140716526497472
140716526497472
2310154782976

In [6]:

z = a.intersection(b)

print(z)
z=a.intersection_update(b)
print(z)

{1, 2, 3}
None

In [15]:
# Function for sets

In [16]:
# finding length of the set
a = {1,2,4,5,6,}
len (a)

5

In [18]:
# Minimum  and maximum values
a = {2,5,7,89,45,67,444}
print(min(a))
print(max(a))

2
444

In [19]:
# Adding all the value inside a set
a = {34,56,89,23,4,5}
print(sum(a))

211

In [20]:
a = {"ba","ab","yx","xy"}
print(min(a))
print(max(a))

ab
yx

In [10]:
x = {"A","a"}
print(max(x))
print(min(x))

a
A

In [16]:
x = {True,False,45}
print(sum(x))

46

In [21]:
a = {56,78,56}
print(sum(a))

134

In [2]:
a = {1,3,4,5,6,7,8,9,8}
print(len (a))
print(a)
print(min(a))
print(max(a))
print(sum(a))

8
{1, 3, 4, 5, 6, 7, 8, 9}
1
9
43

In [21]:
x = {23,44,56,78}
x.remove(44)
print(x)

{56, 78, 23}

In [22]:
x = {23,44,56,78}
x.discard(44)
x

{23, 56, 78}

# Subset and Superset

In [24]:
# Subset
p = {1,2,3,4,5,6}
q = {1,2,4}
print(p.issubset(q))
print(q.issubset(q))
print(q.issubset(p))
print(p.issubset(p))

False
True
True
True

In [25]:
# Superset
p = {1,2,3,4,5,6}
q = {1,2,4}
print(p.issuperset(q))
print(q.issuperset(q))
print(q.issuperset(p))
print(p.issuperset(p))

True
True
False
True

# Disjoint

In [8]:
p = {1,2,3,4,5}
q = {6,7,8}
print(p.isdisjoint(q))
print(q.isdisjoint(p))

True
True

In [28]:
p.isdisjoint(p)

False

In [3]:
a = {1,2,3,4,5}
b = {1,2,3,7,8,9} 
a.isdisjoint(b)

False

# Dictionaries
  Dictionaries are ordered collection of unique items stored in  (Key-Value) pairs.(pairs is  itmes in a dictionaries)
 1. Ordered :- Dictionaries are ordered, which means that the items have a defined order,and that order will not change.
 2. Unique :- The keys in Dictionaries should be unique . If we store any value with a key that already exists,then the most recent vlaue will replace the old value.
 3. Keys must be of immutable data type.
 4. thats Dictionaries has a mutable.

In [3]:
x = {"apple":200,"banna":90}
print(x)

{'apple': 200, 'banna': 90}

In [25]:
x = {["apple"]:200,78:True,"tuple":(1,2,3)} # [apple] is a list , mutable type which cannot be used as key 
               # unhasable type means mutable type
    print(x)

TypeError: unhashable type: 'list'

In [26]:
x = {"a":45,"a":89,"a":True}
print(x)

{'a': True}

In [7]:
dic={"hello":78,"name":51,"age":28,}
print(dic)
dic["name"]

{'hello': 78, 'name': 51, 'age': 28}

51

# Accesing items in dictionary

In [27]:
a = {"india":"delhi","US":"Washington"}
print(a)
print(a["US"])

{'india': 'delhi', 'US': 'Washington'}
Washington

In [34]:
# Keys
print(a.keys())
print(type(a.keys()))

dict_keys(['india', 'US'])
<class 'dict_keys'>

In [35]:
# values
print(a.values())
print(type(a.values()))

dict_values(['delhi', 'Washington'])
<class 'dict_values'>

In [28]:
#items

print(a.items())
print(type(a.items()))

dict_items([('india', 'delhi'), ('US', 'Washington')])
<class 'dict_items'>

# Adding items from a dictionary

In [37]:
# Key -values assignment []=value
print(a)

{'india': 'delhi', 'US': 'Washington'}

In [40]:
a["pakistan"]="islamabad"
print(a)

{'india': 'delhi', 'US': 'Washington', 'pakistan': 'islamabad'}

In [41]:
# .update ()
a.update({"England":"london"})
print(a)

{'india': 'delhi', 'US': 'Washington', 'pakistan': 'islamabad', 'England': 'london'}

# Removing items from a dictionary

In [23]:
# .popitems() - Retrun and removes the last inserted item from the dictionary
a ={'india': 'delhi', 'US': 'Washington', 'pakistan': 'islamabad', 'England': 'london'}
b = a.popitem()
print(a)
print(b)

{'india': 'delhi', 'US': 'Washington', 'pakistan': 'islamabad'}
('England', 'london')

In [43]:
#.pop - Removes the item with the key and reteun its value. 
a.pop("US")
print(a)

{'india': 'delhi', 'pakistan': 'islamabad'}

In [44]:
# del 
del(a["pakistan"])
print(a)

{'india': 'delhi'}

In [63]:
r = {"gaurav":["bisht"],"english":90},{"hello":78,"sir":90}
print(r)

({'gaurav': ['bisht'], 'english': 90}, {'hello': 78, 'sir': 90})

# Tuples
- Group of any data type

In [72]:
X = (1,2,True)
X

(1, 2, True)

In [73]:
X = (1,"structure")
type(X)

tuple

In [74]:
y = (1,)
type(y)

tuple

In [75]:
y = 1,2
y

(1, 2)

In [76]:
x = 1,2,3,6,7,8,
x

(1, 2, 3, 6, 7, 8)

In [79]:
x = 1,2,7,6,4,90.0
type(x)
print(type(x))

<class 'tuple'>

In [26]:
x = 'rishi','rohit'
print(id(x))
x = 'rohit'
print(id(x))
x='golu'
print(id(x))

2691295170944
2691265713520
2691266556784

In [31]:
x = ['rihi','rohit']
print(id(x))
x = ['rahul','rohit']
print(id(x))
x[1]="rishi"
print(id(x))
x

2310155399360
2310155390784
2310155390784

['rahul', 'rishi']

In [7]:
#.count (how many time is any number ya name etc.)
x = (1,2,3,4,6,4,43,6,7,4,56,3,4)
print(x.count(4))

4

In [83]:
#.index (given opp+ indexing number in a output)
x.index(56)

10

In [89]:
x = [12]
print(id(x))
x = [13]
id(x),id(x)

1655674066496

(1655703024832, 1655703024832)

In [88]:
x = [13]
id(x)

1655702068800

# Mutable Data Types
  - An object that allow you to change its values without changing its identity is a mutable object.
  - List 
  - Sets
  - Dectionaries

In [106]:
x = ["hello",1,2]
id(x)

1655702675904

AttributeError: 'tuple' object has no attribute 'remove'

# Type Casting

- int()
- float()
- bool()
- complex()
- str()
- list()
- tuple()
- dict()
- set()

In [2]:
20
float(20)

20.0

In [2]:
print(type(20.0))

<class 'float'>

In [6]:
type (int('78'))

int

In [2]:
complex(54+5)

(59+0j)

In [3]:
complex(59+0)

(59+0j)

In [7]:
int(44.5)

44

In [17]:
bool(52)

True

In [18]:
complex(4+56)

(60+0j)

In [5]:
int(78+6j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [22]:
int('34')

34

In [23]:
int('gunja')

ValueError: invalid literal for int() with base 10: 'gunja'

# Escape Sequences

CODE RESULT
-      \' - Single quote
- \ - Back slash (line continuation character)
- \n - New Line 
- \b - Backspace
- \t - Tab
- \r - carriage return

In [39]:
print('\'python\'')

'python'

In [32]:
'''python'''

'python'

In [42]:
print ('\\n')

\n

In [46]:
print('\\n')

\n

In [4]:
print ('python')

python

In [9]:
print('hello,my name is\ngaurav')

hello,my name is
gaurav

In [14]:
print ('gau \brav')

gau rav

In [15]:
print('im goning to m \barket')

im goning to m arket

In [16]:
print('this is a ch \bair')

this is a ch air

In [17]:
print('yes this my \
chair')

yes this my chair

In [18]:
print (''hello rishi, im gaurav'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (860405477.py, line 1)

In [23]:
print('\'hello rishi, my name is gaurav\'')

'hello rishi, my name is gaurav'

In [25]:
print ('hello gau \brav your cabin \nis vrey \tintresting')

hello gau rav your cabin
is vrey 	intresting

In [26]:
bool(70.2)

True

In [27]:
float(78)

78.0

In [28]:
bool('gaurav')

True

In [29]:
int (90)

90

In [30]:
print (78+8j)

(78+8j)

In [32]:
print(type(89+6j))

<class 'complex'>

In [33]:
complex(87+6)

(93+0j)

In [34]:
print('im going \nmarket')

im going
market

In [35]:
print('im going\n to market')

im going
 to market

In [36]:
print ('\\nim going to market')

\nim going to market

In [37]:
print('python\b\b')

python

In [38]:
print('python\b\b\b')# only removed one charater

python

In [39]:
print('python\b')

python

In [43]:
print("py\bth\non")

pyth
on

In [46]:
print ('pyth\bo\nn\b')

pytho
n

In [48]:
print ('i \tlearning python')

i 	learning python

In [47]:
print('im      going to market')

im      going to market

In [49]:
print ('python\rdata')

data

In [50]:
print('gaurav\rsinghbisht')

singhbisht

In [51]:
print('my name is \r gaurav')

 gaurav

In [52]:
print('ram is a good/r boy')

ram is a good/r boy

In [53]:
print('ramis a good\r boy')

 boy

In [54]:
print ('CHTYON\rData\rHE')

HE

In [55]:
print('CHTYON\rDATA\rGOOD')

GOOD

In [17]:
c = ['rishi','gaurav',67,True]
c.extend(['hello','python',3,5,True])
print(c)

['rishi', 'gaurav', 67, True, 'hello', 'python', 3, 5, True]

In [19]:
c = ['rishi','gaurav',67,True]
c.append(['hello','python',3,5,True])
print(c)

['rishi', 'gaurav', 67, True, ['hello', 'python', 3, 5, True]]

In [20]:
0 and False

0

In [16]:
False and 0

False

In [17]:
True or 0

True

In [18]:
0 or True

True

In [21]:
5 and True

True

In [22]:
True and 5

5

In [23]:
5 and 6

6

In [24]:
6 and 5

5